<!DOCTYPE html>
<html>
  <head>
    <title>Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <%= render "shared/navbar" %>
    <main class="container mx-auto max-w-5xl p-6">
      <%= render "shared/flash" %>
      <div class="grid gap-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
